@font-face {
    font-family: 'HelveticaNeueLTArabic45Light';
    src: url('../fonts/alaan-theme/HelveticaNeueLTArabic45Light.eot');
    src: url('../fonts/alaan-theme/HelveticaNeueLTArabic45Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic45Light.woff2') format('woff2'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic45Light.woff') format('woff'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic45Light.ttf') format('truetype'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic45Light.svg#HelveticaNeueLTArabic45Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTArabic75Bold';
    src: url('../fonts/alaan-theme/HelveticaNeueLTArabic75Bold.eot');
    src: url('../fonts/alaan-theme/HelveticaNeueLTArabic75Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic75Bold.woff2') format('woff2'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic75Bold.woff') format('woff'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic75Bold.ttf') format('truetype'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic75Bold.svg#HelveticaNeueLTArabic75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTArabic55Roman';
    src: url('../fonts/alaan-theme/HelveticaNeueLTArabic55Roman.eot');
    src: url('../fonts/alaan-theme/HelveticaNeueLTArabic55Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic55Roman.woff2') format('woff2'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic55Roman.woff') format('woff'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic55Roman.ttf') format('truetype'),
        url('../fonts/alaan-theme/HelveticaNeueLTArabic55Roman.svg#HelveticaNeueLTArabic55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    direction: rtl;
    font-family: 'HelveticaNeueLTArabic55Roman';
    text-align: right;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeueLTArabic75Bold';
}
p{
    font-size: 14px !important;
}
.text-bold{
    font-family: 'HelveticaNeueLTArabic75Bold';
}
.text-light{
    font-family: 'HelveticaNeueLTArabic45Light';
}
.text-normal{
    font-family: 'HelveticaNeueLTArabic55Roman';
}
.f-12{
    font-size: 12px !important;
}
.f-14{
    font-size: 14px !important;
}
.f-16{
    font-size: 16px !important;
}
.f-18{
    font-size: 18px !important;
}



.trancarousel_area .nav_style1 .owl-nav {
    position: absolute;
    left: -60px;
    right: auto;
    direction: ltr;
    top: 25px;
}

.topbar .top_date_social>div:first-child:after{
    left: 5px;
    right: auto;
}
.trancarousel_area p.trand {
    float: right;
    margin-left: 10px;
    margin-right: auto;
    background: #dd1597;
}
.trancarousel_area .nav_style1 .owl-nav div {
    line-height: 20px;
    background: #ecedee;
    color: #718594;
    border: none;
}
.stellarnav.desktop li.has-sub a {
    padding-left: 5px;
    /* padding-right: 20px; */
}
.alaan_theme_nav li a {
    font-family: 'HelveticaNeueLTArabic75Bold';
    font-size: 14px;
    padding: 0px 15px;
}
.alaan-theme .temp_wap {
    padding-right: 70px;
    padding-left: initial;
}
.alaan-theme .temp_icon {
    right: 15px;
    left: auto;
}
.alaan-theme .menu_right>div:after {
    left: -2px;
    right: auto;
}
.alaan-theme .menu_right>div {
    padding-right: 15px;
    padding-left: initial;
}
.alaan-theme h3.temp_count:after {
    left: -35px;
    right: auto;
}
.alaan-theme h3.temp_count {
    margin-right: 10px;
    margin-left: initial;
}
.a-search-box{

}
.a-search-box form{
    min-width: 300px;
}
.a-search-box form input.cbtn {
    font-size: 14px !important;
    padding: 5px 10px !important;
    margin-bottom: 0;
}
.theme-3 .signup_form form input.cbtn {
    position: absolute;
    left: 0;
    right: auto;
}
.theme-3 .signup_form form input.signup {
    border-radius: 0;
    padding: 5px 10px;
}
.theme-3 .signup_form form {
    border-radius: 0;
}
.a-search-button{
    position: absolute;
    left: 15px;
    top: 10px;
    /* background: #22bafa; */
    padding: 5px 15px;
    color: white;
    font-size: 20px;
}
.theme-3 .signup_form form input.signup {
    width: 85%;
}
.icon-small{
    font-size: 12px;
    width: 15px;
    height: 15px;
}
.signup_form form {
    background: transparent;
}
.signup_form form input.signup {
    padding: 5px 15px;
    width: 100%;
    margin: 0;
    background: #ffffff;
    border-radius: 50px;
}
.alaan-theme .main-nav {
    background: #fff;
    min-height: auto;
}
.topbar .top_date_social>div:first-child:after {
    background: transparent;
}
.nav-live-tv{
    color: #ffffff;
    margin-left: 10px;
    background: #fe9a1e;
    padding: 5px 10px;
    border-radius: 0px;
}
.alaan-theme .menu_right>div {
    position: relative;
    z-index: 0;
}
.b-left{
    border-left: 1px dashed #dcdedf;
}
.b-right{
    border-right: 1px dashed #dcdedf;
}
.alaan-theme .lang ul li a {
    opacity: 1;
    color: #000000;
}

.nav_style1 .owl-nav {
    left: 0;
    top: -48px;
    right: auto;
    direction: ltr;
}
.widget_tab ul li:last-child {
    margin-left: 0;
    margin-right: auto;
}
.widget_tab ul li {
    margin-left: 10px;
    margin-right: auto;
}
.post_type12 .post_img {
    width: 48%;
    float: right;
}
.post_type12 .single_post_text {
    padding-right: 30px;
}
.category ul li a {
    text-align: right;
}
.img-arrow{
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    -webkit-filter: invert(0.5);
    filter: invert(0.5);
}
.signup_form form input.cbtn {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 30px;
    right: auto;
    font-size: 12px;
}
.news_letter p {
    color: #39424a;
    font-size: 14px;
    font-weight: 300;
}
.category ul li {
    border-bottom: 1px dashed #dbdedf;
}
.category ul li a {
    font-size: 18px;
    color: #000;
}
.category ul li a:after {
    background: transparent;
}
.widgets_small .post_img {
    right: 0;
    left: auto;
}
.widgets_small {
    padding-right: 120px;
    padding-left: initial;
    padding-bottom: 5px;
}
.mix_area .container, .video_posts .container {
    max-width: 1380px;
}

.a-podcast .widgets_small{
    padding-right: 80px;
}
.footer_logo img{
    max-width: 125px;
}
.footer .cta {
    padding: 35px 0 40px;
}
.half_bg1:after, .half_bg60:after {
    background: #000000;
}
.post_type6 span.tranding {
    background: #22bafa;
}
span.tranding {
    background: #fd9a1f;
}
a.up_btn, .widget_tab ul li a.active, .signup_form form input.cbtn, a.cbtn1, button.cbtn1, input.cbtn1, .theme-3 .signup_form form input.cbtn {
    background: #22bafa;
    border-radius: 50px;
    color: #fff !important;
}
.widget_tab ul li a{
    border-radius: 50px; 
}
a:hover {
    color: #22bafa !important;
}
.single_post_text .meta3 a:first-child, .footer .extra_newss .single_extra_news p {
    color: #22bafa;
}
.primay_bg {
    background: #000000;
}
.post_type6 .single_post_text .meta a:last-child:before, .single_post_text .meta3 a:last-child:before, .single_post_text .meta2 a:last-child:before  {
    right: -18px;
    left: auto;
}
.post_type6 .single_post_text .meta a:last-child, .single_post_text .meta3 a:last-child, .single_post_text .meta2 a:last-child {
    margin-right: 20px;
    margin-left: auto;
}

.stellarnav ul ul {
    text-align: right;
    top: 3rem;
}
.stellarnav.light ul ul {
    background: #22bafa;
}

.brand-bg-color-1{
    background-color: #22bafa;
}
.brand-text-color-1{
    color: #22bafa;
}



.alaan_theme_nav li li>a:hover, .alaan_theme_nav li>a:hover {
    color: #dd1597 !important;
    background: none !important;
}
.has-sub.open ul{
    background: #22bafa !important;
    text-align: right;
    padding: 10px 0px !important;
}
.alaan_theme_nav li a:before {
    background: transparent;
}

.stellarnav.mobile>ul>li>a.dd-toggle {
    padding: 5px 15px;
}
.has-sub.open a{
    color: #dd1597;
}
.has-sub li a{
    color: white !important;
    padding: 5px 10px !important;
}
.stellarnav li li::after{
    content: '';
    position: absolute;
    border-bottom: 1px dashed #ffffff2b;
    height: 0px;
    width: 100%;
}
a.readmore, button.readmore, input.readmore {
    font-size: 12px !important;
    color: #20bafa !important;
    padding: 5px 25px;
    border: 1px solid #20bafa;
    line-height: 20px!important;
    font-family: 'HelveticaNeueLTArabic75Bold';
    border-radius: 50px;
}
a.readmore:hover, button.readmore:hover, input.readmore:hover{
    background: #20bafa;
}
.sticky a.up_btn:hover{
    color: white !important;
}
a.up_btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.al-live-tv{
    color: #dd1597;
    margin-right: 15px;
    font-size: 18px;
    line-height: 0;
}
.al-search-top{
    color: #22bafa;
    margin-right: 15px;
    font-size: 18px;
    line-height: 0;
}
.al-user{
    color: #22bafa;
    margin-right: 15px;
    font-size: 18px;
    line-height: 0;
}
.al-menu-left{
    position: absolute;
    top: 5px;
    left: 15px;
}
.al-search-box{
    background: transparent;
    border-bottom: 1px solid #dbdedf70;
    padding: 10px 0px;
    margin: 0px;
    font-size: 16px;
    color: black;
    width: 98% !important;
}
.al-search-button{
    position: absolute;
    left: 15px;
    top: 5px;
    padding: 5px 0px;
    font-size: 25px;
    color: #dd1597;
}
.al-serach-box-container{
    position: absolute;
    z-index: 9;
    width: 100%;
    background: #ffffff;
    padding: 0px 0px;
    left: 0;
    top: 0px;
}

.slideInDown{
    animation: slideInDown;
    animation-duration: 0.5s;
}
.slideOutUp{
    animation: slideOutUp;
    animation-duration: 1s;
}
.slideInLeft{
    animation: slideInLeft;
    animation-duration: 0.5s;
}
.slideInRight{
    animation: slideInRight;
    animation-duration: 0.5s;
}
.bridcrumb {
    padding: 15px 0px 0px 0px;
}
.cpagination li a {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 25px;
    padding: 0;
    font-size: 12px;
}
.cpagination li {
    margin-left: 10px;
    margin-right: initial;
}

.author {
    position: relative;
    z-index: 2;
    padding-right: 60px;
    display: inline-block;
    text-align: right;
    padding-left: inherit;
}
.author .author_img {
    right: 0;
    left: initial;
}
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6{
    margin-bottom: 15px;
}
.post p{
    margin-bottom: 10px;
}
.tags li.tag_list {
    font-size: 14px;
    text-align: center;
    padding: 10px 10px;
    border: none;
    color: #ffffff;
    background: #dd1597;
    margin-left: 10px;
    margin-right: 0;
    font-family: 'HelveticaNeueLTArabic75Bold';
}
.tags li a {
    font-size: 12px;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #22bafa;
    color: #22bafa;
    font-weight: 500;
    border-radius: 50px;
}
.tags li a:hover{
    background: #22bafa;
    color: white !important;
}
.comment_form input, .comment_form textarea {
    border: 1px solid #c4c7c9;
    font-size: 14px;
}
button.cbtn2, input.cbtn2, a.cbtn2, .dark-theme button.cbtn2, .dark-theme input.cbtn2, .dark-theme a.cbtn2 {
    font-size: 14px;
    color: #ffffff !important;
    padding: 10px 25px;
    border: 2px solid #20bafa;
    line-height: 20px!important;
    font-family: 'HelveticaNeueLTArabic75Bold';
    border-radius: 50px;
    background: #20bafa;
}
button.cbtn2:hover, input.cbtn2:hover, a.cbtn2:hover, .dark-theme button.cbtn2:hover, .dark-theme input.cbtn2:hover, .dark-theme a.cbtn2:hover {
    background: transparent;
    color: #22bafa !important;
    transition: all .3s;
}
.next_prv_single:hover{
    background: #22bafa;
}
.next_prv_single:hover p, .next_prv_single:hover h3{
    color: #ffffff;
}
.next_prv_single  h3{
    font-size: 20px;
}

.sticky-tab {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}
.brand-bg-color-1{
    background-color: #22bafa;
}
.brand-text-color-1{
    color: #22bafa;
}
.bg-dark{
    background:#000000 !important;
}
.bg-grey{
    background: #ecedee !important;
}
.al-category-title h2{
    padding: 0px 15px;
}
.al-category-title::before{
    content: '';
    background: #dd1597;
    height: 25px;
    width: 3px;
    position: absolute;
    top: 5px;
}

.al-category-title.color-1::before{
    background: #dd1597;
}
.al-category-title.color-2::before{
    background: #22bafa;
}
.al-category-title.color-3::before{
    background: #ff7f41;
}
.al-category-title.color-4::before{
    background: #ffcd00;
}
.al-category-title.color-5::before{
    background: #af2573;
}
.al-category-title.color-6::before{
    background: #5f249f;
}
.al-category-title.color-7::before{
    background: #365abd;
}
.al-category-title.color-8::before{
    background: #00b0b9;
}
.al-category-title.color-9::before{
    background: #a4d233;
}
.al-category-title:hover h2{
    color: #dd1597;
}
.nav_style1 .owl-nav div {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: inherit;
    border: 1px solid #ffffff00;
    color: #000000;
    transition: all .3s;
    font-size: 20px;
}
.nav_style1 .owl-nav div:hover {
    background: #22bafa;
    border-color: #22bafa;
}


.al-tag, .al-tag:hover{
    background: #22bafa;
    color: #ffffff !important;
    padding: 2px 15px;
    border-radius: 50px;
    font-size: 10px !important;
    /* margin: 5px 0px; */
}
.al-tag.color-1{
    background: #dd1597;
}
.al-tag.color-2{
    background: #22bafa;
}
.al-tag.color-3{
    background: #ff7f41;
}
.al-tag.color-4{
    background: #ffcd00;
}
.al-tag.color-5{
    background: #af2573;
}
.al-tag.color-6{
    background: #5f249f;
}
.al-tag.color-7{
    background: #365abd;
}
.al-tag.color-8{
    background: #00b0b9;
}
.al-tag.color-9{
    background: #a4d233;
}

.al-tag-invert{
    background: none;
    color: #797979 !important;
    border: 1px solid #0000000f;
}

.mb25 {
    margin-bottom: 25px;
}
.post_hover .single_post_text {
    position: absolute;
    bottom: 0;
    z-index: 9;
    padding: 20px;
}
.text-white .meta2 a:last-child:before {
    color: #ffffff;
    opacity: 1;
}
.text-white .meta2 a:last-child {
    margin-left: 20px;
    color: #ffffff;
    opacity: .75;
}
.gradient1:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient( 0deg,rgba(0,0,0,0.7),transparent);
    left: 0;
    bottom: 0;
}
.widget_tab ul {
    margin-bottom: 12px;
}
.single_post_text .meta5 a:last-child {
    margin-right: 20px;
    font-weight: 400;
    margin-left: auto;
}
.single_post_text .meta5 a:last-child:before {
    right: -18px;
    left: auto;
}
.single_post_text .meta4 a {
    opacity: 1;
}
.alaan-theme .main-nav {
    box-shadow: none;
}
.al-video-tag{
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    line-height: 25px;
    border-radius: 50%;
    background: #f55 !important;
    color: #fff;
    position: absolute;
    left: 0px;
    top: -10px;
}
.al-show-more{
    font-size: 14px;
    color: #22bafa;
    background: #f2f9ff;
    border: 1px solid #22bafa;
    border-radius: 5px;
    width: 100%;
    padding: 13px;
    text-align: center;
    margin-bottom: 35px;
}
.author_social ul li a:hover {
    background: #1091ff;
    color: #fff !important;
}
.al-card{
    border-radius: 0;
    padding: 0px 30px;
    border: 1px solid rgb(243 243 243);
    margin-bottom: 25px;
}
.single_post {
    z-index: 1;
}
.topbar ul li {
    opacity: 1;
}
.icon-close::before{
    content: '';
    position: absolute;
}
.alaan-theme .lang ul li ul {
    background: #22bafa;
}
.alaan-theme .lang ul li li a {
    color: #ffffff;
}
.alaan-theme .lang ul li li a:hover {
    color: #dd1597 !important;
}
.alaan-theme .lang ul li li a::after{
    content: '';
    position: absolute;
    border-bottom: 1px dashed #ffffff2b;
    height: 0px;
    width: 100%;
    right: 0;
}
.stellarnav.mobile.light li a.dd-toggle{
    width: 100%;
    text-align: left;
}

.mobile.active .fa-angle-down:before {
    position: absolute;
    left: 25px;
    top: 25px;
}
.stellarnav a.dd-toggle .icon-plus{
    display: none;
}
.stellarnav.mobile.light li a {
    border-bottom: 1px dashed rgba(0,0,0,.15);
}
.stellarnav.mobile.light li li a{
    border: none;
}
.stellarnav.mobile.right>ul{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-box-shadow: 1px 0 5px rgb(0 0 0 / 10%), 3px 0 25px rgb(0 0 0 / 18%);
    box-shadow: 1px 0 5px rgb(0 0 0 / 10%), 3px 0 25px rgb(0 0 0 / 18%);
}
.al-logo-mobile{
    display: none;
}
.alaan_theme_nav li a:after {
    background: none;
}
.bars.fas.fa-times{
    top: 1px !important;
    font-size: 20px;
    color: #dd1597;
}

.post_img .img_wrap a, .post_img .img_wrap img, .post_img img{
    width: 100%;
}
.main-menu.sticky .is-ts-sticky{
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    left: 0;
    right: 0;
    animation: slideInDown;
    animation-duration: 1s;
    
    -webkit-box-shadow: 1px 0 5px rgb(0 0 0 / 10%), 3px 0 25px rgb(228 228 228 / 45%);
    box-shadow: 1px 0 5px rgb(0 0 0 / 10%), 3px 0 25px rgb(228 228 228 / 45%);
}
ul{
    list-style: none;
}
.preloader {
    background: #22b2f0;
    z-index: 999999;
}
.single_post_text h4 {
    font-size: 14px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
}
.single_post_text .meta a:last-child:before {
    position: absolute;
    content: "/";
    height: 20px;
    width: 10px;
    right: -18px;
    top: 50%;
    margin-top: -10px;
    line-height: 20px;
    color: #17222b;
    opacity: .3;
    text-align: center;
}
.single_post_text .meta a:last-child {
    margin-right: 20px;
    color: #17222b;
    opacity: .75;
}
.single_post_text .meta a {
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    line-height: 17px;
    margin-bottom: 5px;
    font-weight: 400;
}
.single_post_text .meta.text-white a{
    color: #ffffff !important;
    font-size: 12px;
}
.single_post_text .meta.text-white a:last-child:before {
    color: #ffffff;
    opacity: 1;
}
a.single_social {
    padding: 8px 15px;
    font-size: 12px;
    margin: 5px 0px;
    color: #fff;
    width: 105px;
    line-height: 10px;
    border-radius: 50px;
}
.trancarousel_area .trancarousel_item {
    padding: 10px;
    line-height: 25px;
}
.al-mob-nav-close, .mobile.active a.menu-toggle{
    display: none !important;
    padding: 6.5px 0px !important;
    color: #dd1597;
    font-size: 20px !important;
}
.mobile.active .al-mob-nav-close{
    display: block !important;
}
.al-h-full{
    min-height: calc(100vh - 150px);
}
.al-user-form{

}
.al-user-form input{
    padding: 5px 15px;
    margin-bottom: 25px;
    background: #ffffff;
    border: 1px solid #c4c7c9;
    font-size: 14px;
}
.al-button{
    font-size: 14px;
    color: #ffffff !important;
    padding: 10px 25px !important;
    border: 2px solid #20bafa !important;
    line-height: 20px!important;
    font-family: 'HelveticaNeueLTArabic75Bold';
    border-radius: 50px;
    background: #20bafa !important;
}

.post_type_search{
    display: inline-block;
}
.post_type_search .post_img {
    width: 40%;
    float: right;
}
.post_type_search .single_post_text {
    width: 58%;
    float: left;
    padding: 0;
    padding-left: 30px;
}
.post_type_search .single_post_text {
    padding-right: 30px;
}
.al-search-box.search-page{
    border: 1px solid #dbdedf70;
    padding: 10px 15px;
}
.al-search-button.search-page{
    left: 45px;
}
a.readmore.al-readmore{
    padding: 10px 30px;
    font-size: 14px !important;
    border: 1px solid #20bafa;
    background: #22bafa;
    color: #ffffff !important;
}
a.readmore.al-readmore:hover{
    border: 1px solid #20bafa;
    background: #ffffff;
    color: #22bafa !important;
}
.author_about {
    padding-right: 150px;
    padding-left: initial;
}
.author_about .author_img {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    border-radius: initial;
    overflow: hidden;
    height: auto;
    width: 115px;
    text-align: center;
    line-height: initial;
    border: none;
}
.al-author-block .social a{
    color: #585858;
}
.al-author-block .social a:hover{
    color: #dd1597 !important;
}
.author_wrap{
    max-width: 75px;
    display: inline-block;
    margin-left: 15px;
}

.sl-wrapper .sl-navigation button.sl-next {
    left: 5px !important;
    right: auto !important;
}
.sl-wrapper .sl-navigation button.sl-prev {
    right: 5px !important;
    left: auto !important;
}
.post-p{
    color: #17222b;
}
.post-p:hover{
    color: #22bafa !important;
}





@media (min-width: 50em){
    .sl-wrapper .sl-navigation button.sl-next {
        left: 20px !important;
        right: auto !important;
    }
    .sl-wrapper .sl-navigation button.sl-prev {
        right: 20px !important;
        left: auto !important;
    }
}
@media (min-width: 35.5em){
    .sl-wrapper .sl-navigation button.sl-next {
        left: 10px !important;
        right: auto !important;
    }
    .sl-wrapper .sl-navigation button.sl-prev {
        right: 10px !important;
        left: auto !important;
    }
    
}


@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1320px;
    }
    
}
@media (min-width: 768px) and (max-width: 991px){
    .alaan-theme .logo {
        /* padding: 0; */
    }
}

@media (min-width: 992px){
    .offset-lg-2 {
        margin-right: 16.666667%;
        margin-left: auto;
    }
    
}
@media screen and (max-width: 992px){
    .paper_date{
        display: none !important;
    }
}

@media screen and (max-width: 992px){
    .stellarnav ul ul {
        top: auto;
    }
    .stellarnav .dd-toggle {
        left: 0;
        right: auto;
    }
    .stellarnav.mobile>ul>li>a {
        padding: 15px;
        text-align: right;
    }

    .post_type_search .post_img {
        width: 100%;
        float: unset;
    }
    .post_type_search .single_post_text {
        width: 100%;
        float: unset;
        padding: 20px 0px;
    }
    
}

@media screen and (max-width: 961px){

    .al-menu-left{
        top: 15px;
        left: 5rem;
    }
    .main-nav{
        padding: 0 !important;
    }
    .stellarnav .menu-toggle{
        padding: 15px 0px;
    }
    .al-logo-mobile{
        display: block;
        top: 0;
        padding: 10px 15px;
        -webkit-box-shadow: 1px 0 5px rgb(0 0 0 / 10%), 3px 0 25px rgb(228 228 228 / 45%);
        box-shadow: 1px 0 5px rgb(0 0 0 / 10%), 3px 0 25px rgb(228 228 228 / 45%);
        width: 100%;
        text-align: right;
    }
    .close-menu.full
    {
        display: none !important;
    }


}

@media screen and (min-width: 767px){
    .al-ful-width-carousel.owl-carousel.owl-rtl .owl-item {
        margin-left: 5px !important;
    }
}


@media screen and (max-width: 767px){

    .border_white_left{
        border-left: none;
    }
    .border_white_right{
        border-right: none;
    }

    .alaan-theme .logo {
        padding: 13px 0 25px;
        text-align: right !important;
    }

    .post_type12 .post_img {
        width: 100% !important;
        float: unset;
    }
    .post_type12 .single_post_text {
        padding-right: 0 !important;
    }

    .post_type6 .single_post_text {
        padding: 10px;
        position: absolute;
    }
    .post_type6 .single_post_text p.post-p, .post_type6 .single_post_text .meta, .meta3{
        display: none;
    }
    .single_post .post_img img{
        /* max-height: 235px; */
        width: 100%;
    }
    .al-latest-news{
        padding-bottom: 0 !important;
    }
    

    .hide-mob{
        display: none;
    }
    .topbar {
        display: block;
        margin-top: 0;
    }
    .trancarousel_area .nav_style1 .owl-nav {
        left: 0;
        margin-top: -15px;
    }
    .trancarousel_area .trancarousel_item p {
        float: right;
    }
    .alaan-theme .logo {
        padding: 10px 0px;
    }
    .stellarnav .menu-toggle, .stellarnav .call-btn-mobile, .stellarnav .location-btn-mobile, .stellarnav .close-menu {
        padding: 15px 0px;
    }
    .alaan-theme .main-nav {
        padding: 0 0px;
    }
    .stellarnav .dd-toggle {
        left: 0;
        right: auto;
    }
    .stellarnav.mobile>ul>li>a {
        padding: 15px;
        text-align: right;
    }

    .post_type_search .post_img {
        width: 100%;
        float: unset;
    }
    .post_type_search .single_post_text {
        width: 100%;
        float: unset;
        padding: 0;
        padding-left: 0;
        padding: 20px;
    }
}

@media screen and (max-width: 575px){
    .topbar{
        display: none;
    }
    .container, .container-sm {
        max-width: 635px;
    }

    .al-serach-box-container {
        top: 59px;
    }
    .al-search-box {
        font-size: 14px;
    }
    .al-search-button {
        top: 0px;
        font-size: 18px;
    }

}

@media (min-width: 575px){
    .alaan-theme .main-nav {
        padding: 15px 0px;
    }
    
}
