@font-face {
    font-family: 'HelveticaNeueLTArabic45Light';
    src: url('HelveticaNeueLTArabic45Light.eot');
    src: url('HelveticaNeueLTArabic45Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic45Light.woff2') format('woff2'),
        url('HelveticaNeueLTArabic45Light.woff') format('woff'),
        url('HelveticaNeueLTArabic45Light.ttf') format('truetype'),
        url('HelveticaNeueLTArabic45Light.svg#HelveticaNeueLTArabic45Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTArabic75Bold';
    src: url('HelveticaNeueLTArabic75Bold.eot');
    src: url('HelveticaNeueLTArabic75Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic75Bold.woff2') format('woff2'),
        url('HelveticaNeueLTArabic75Bold.woff') format('woff'),
        url('HelveticaNeueLTArabic75Bold.ttf') format('truetype'),
        url('HelveticaNeueLTArabic75Bold.svg#HelveticaNeueLTArabic75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTArabic55Roman';
    src: url('HelveticaNeueLTArabic55Roman.eot');
    src: url('HelveticaNeueLTArabic55Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic55Roman.woff2') format('woff2'),
        url('HelveticaNeueLTArabic55Roman.woff') format('woff'),
        url('HelveticaNeueLTArabic55Roman.ttf') format('truetype'),
        url('HelveticaNeueLTArabic55Roman.svg#HelveticaNeueLTArabic55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}